# Endpoint que recibirá el formulario de contacto (POST multipart/form-data)
# Ejemplo Formspree: https://formspree.io/f/abcxyzpq
VITE_CONTACT_FORM_ENDPOINT=

# Destinatarios del formulario (separados por coma)
VITE_CONTACT_RECIPIENTS=jonathan.cocuy@tingestudio.co,camilo.tacue@tingestudio.co
